/* line 2, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header {
  position: relative;
  overflow: hidden;
  background-color: #2A2A2A;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); }

/* line 8, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header h1 {
  width: 120px;
  height: 24px;
  color: #ffffff;
  font-size: 14px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 15, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#content {
  width: 840px;
  margin: 0px auto;
  clear: right; }

/* line 20, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#content #highlight {
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 23, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#content .main {
  float: right;
  width: 640px; }

/* line 27, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#content .menu {
  float: left;
  width: 200px; }

/* line 31, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#content .menu h2 {
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 35, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .eyecatch {
  position: relative;
  text-align: center; }

/* line 39, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .eyecatch img {
  margin: 20px 0px 0px 0px;
  display: inline-block; }

/* line 43, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .eyecatch p {
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  background-color: #84a5ce;
  color: #ffffff; }

/* line 48, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents h1 {
  color: #000000; }

/* line 51, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents h2 {
  color: #000000; }

/* line 54, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents h3 {
  color: #000000; }

/* line 57, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .main {
  margin: 0 auto; }

/* line 60, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents {
  color: #000000;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 64, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents a:link {
  color: #222222; }

/* line 67, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents a:visited {
  color: #333333; }

/* line 70, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents a:hover {
  color: #444444; }

/* line 73, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panelcontainer {
  position: relative;
  overflow: hidden; }

/* line 77, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panels {
  position: relative;
  left: 50%;
  float: left; }

/* line 82, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel {
  position: relative;
  left: -50%;
  float: left;
  background-color: #406080;
  padding: 1px 10px 1px 10px;
  margin: 10px;
  width: 200px;
  height: 350px; }

/* line 92, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel h3 {
  color: #ffffff;
  font-size: 16px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  text-align: center; }

/* line 98, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel h4 {
  color: #ffffff;
  font-size: 14px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  text-align: center; }

/* line 104, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel a:link {
  color: #cccccc; }

/* line 107, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel a:visited {
  color: #cccccc; }

/* line 110, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel a:hover {
  color: #ffffff; }
