/* line 2, D:/dev/_ACE/Website/source/stylesheets/base.sass */
body {
  background-color: #eeeeee; }

/* line 5, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header {
  position: relative;
  overflow: hidden;
  background-color: #2A2A2A;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); }

/* line 11, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header .menu {
  position: relative;
  left: 50%;
  float: left; }

/* line 16, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header .selected {
  position: relative;
  left: -50%;
  float: left;
  background-color: #406080;
  padding: 1px 10px 1px 10px; }

/* line 23, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header .unselected {
  position: relative;
  left: -50%;
  float: left;
  padding: 1px 10px 1px 10px; }

/* line 29, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header .unselected:hover {
  background-color: #6A6A6A; }

/* line 32, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header h1 {
  width: 120px;
  height: 24px;
  color: #ffffff;
  font-size: 14px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 39, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#header a {
  color: #ffffff;
  text-decoration: none;
  border: 0; }

/* line 44, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents {
  width: 100%; }

/* line 47, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .eyecatch {
  position: relative;
  text-align: center; }

/* line 51, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .eyecatch img {
  width: 100%;
  margin: 20px 0px 0px 0px;
  display: inline-block; }

/* line 56, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .eyecatch p {
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  background-color: #84a5ce;
  color: #ffffff; }

/* line 61, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents h1 {
  color: #000000; }

/* line 64, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents h2 {
  color: #000000; }

/* line 67, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents h3 {
  color: #000000; }

/* line 70, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .main {
  width: 1000px;
  margin: 0 auto; }

/* line 74, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents {
  color: #000000;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 78, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents a:link {
  color: #222222; }

/* line 81, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents a:visited {
  color: #333333; }

/* line 84, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents a:hover {
  color: #444444; }

/* line 87, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panelcontainer {
  position: relative;
  overflow: hidden; }

/* line 91, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panels {
  position: relative;
  left: 50%;
  float: left; }

/* line 96, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel {
  position: relative;
  left: -50%;
  float: left;
  background-color: #406080;
  padding: 1px 10px 1px 10px;
  margin: 10px;
  width: 200px;
  height: 300px; }

/* line 106, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel h3 {
  color: #ffffff;
  font-size: 16px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  text-align: center; }

/* line 112, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel h4 {
  color: #ffffff;
  font-size: 14px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  text-align: center; }

/* line 118, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel a:link {
  color: #cccccc; }

/* line 121, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel a:visited {
  color: #cccccc; }

/* line 124, D:/dev/_ACE/Website/source/stylesheets/base.sass */
#contents .panel a:hover {
  color: #ffffff; }
